.comment_container {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  border-bottom: 1px solid var(--light-text);
  position: relative;
}
.right {
  display: flex;
  flex-direction: column;
  line-height: 20px;
  margin-top: -3px;
}
.info {
  display: flex;
  gap: 4px;
  align-items: center;
}
.info_name {
  font-size: 14px;
  font-weight: 600;
  color: var(--text);
  cursor: pointer;
}
.green_tick {
  color: var(--primary);
  font-size: 20px;
  margin-top: 5px;
}
.dot {
  width: 3px;
  height: 3px;
  background-color: var(--light-text);
  border-radius: 50%;
  margin-inline: 2px;
}
.time {
  font-size: 15px;
  color: var(--light-text);
  /* font-weight: 500; */
  margin-bottom: 3px;
}
.comment_text {
  font-size: 15px;
  color: var(--text);
  font-weight: 400;
  margin-bottom: 3px;
}
