.devit_container {
  display: flex;
  border-bottom: 1px solid var(--light-text);
  height: fit-content;
  padding: 1rem;
  gap: 1rem;
}
.left {
  /* border: 2px solid var(--primary); */
  border-radius: 50%;
}
.right {
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5rem;
  position: relative;
}
.bottom_part {
  display: flex;
  justify-content: space-between;
}
.icon_con {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.tooltip {
  background-color: var(--bg);
  border-radius: 2px;
  color: var(--text);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
.emoji_wrapper {
  position: fixed;
  right: 10%;
  top: 7%;
  z-index: 1;
}
.img_container {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.img_container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.code_container {
  width: 95%;
}


