.sidebar_container {
  border-right: 1px solid var(--light-text);
  position: sticky;
  padding-left: 5rem;
  min-height: 100vh;
  top: 0;
  left: 0;
  z-index: 1;
}
.sidebar_wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-height: 100vh;
}
.link {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 2rem;
  height: 50px;
  border-radius: 100vw;
  cursor: pointer;
  width: fit-content;
  transition: 0.3s;
}
.link_active {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 2rem;
  height: 50px;
  border-radius: 100vw;
  cursor: pointer;
  width: fit-content;
  background-color: var(--overlay);
  transition: 0.3s;
}
.link_logo {
  font-size: 1.5rem;
  color: var(--text);
  margin-left: -12px;
  margin-top: 5px;
}
.link_name {
  font-size: 1.2rem;
  color: var(--text);
  font-weight: 400;
  margin-top: -2px;
}
.link_name_active {
  font-size: 1.2rem;
  color: var(--text);
  font-weight: 500;
  margin-top: -2px;
}
.link:hover {
  background-color: var(--overlay);
}
.profile_handle {
  display: flex;
  gap: 1rem;
  height: 65px;
  padding: 1rem 2rem;
  border-radius: 100vw;
  align-items: center;
  cursor: pointer;
  width: fit-content;
  transition: 0.3s;
  margin-top: auto;
  margin-bottom: 10px;
}
.profile_handle:hover {
  background-color: var(--overlay);
}
.profile {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  overflow: hidden;
  margin-left: -20px;
}
.profile_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.name_con {
  line-height: 22px;
}
.name {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: var(--text);
  font-size: 1rem;
}
.username {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: var(--light-text);
  font-size: 1rem;
}
