.search_wrapper {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
}
.user_list {
  display: flex;
  border-top: 1px solid var(--light-text);
  border-bottom: 1px solid var(--light-text);
  padding: 0.6rem 0.3rem;
  gap: 1.5rem;
  overflow-x: auto;
}
.user {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 4px 6px;
  gap: 6px;
}
.user_info {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: var(--text);
}

/*set the default style of scrool bar*/
.user_list::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: var(--overlay);
}
.user_list::-webkit-scrollbar-thumb {
  border-radius: 3px;
  cursor: pointer;
}
.green_tick {
  color: var(--primary);
  font-size: 18px;
  background-color: var(--overlay);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.no_content{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  font-size: 1.4rem;
  color: var(--text);
}
