.specificpost_container {
  display: flex;
  flex-direction: column;
}
.header_post{
    display: flex;
    gap: 1.5rem;
    padding: 0.6rem;
    align-items: center;
}
.heading{
    font-size: 1.4rem;
    font-weight: 500;
    color:var(--text)
}
.post_comment{
    display: flex;
    gap: 1.5rem;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid var(--light-text);
}